html,
body {
    background-color: #F5EDE0
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(169, 100, 16);

}



nav ul {
    display: flex;
    gap: 24px;
    list-style: none;


}


a {
    display: flex;
    color: black;
    text-decoration: none;
    transition: 1s;
}


a:hover {

    color: #ff6a00;
    text-decoration: underline;
    transition: all 0.3s ease;




}


header {
    display: flex;
    justify-content: space-between;



}



header .left {
    display: flex;
    flex-direction: column;


}

header p {
    color: #3B2F2F;

}

header .right {
    display: flex;
    height: 300px;

}

header a {
    border: 4px solid rgb(8, 2, 2);
    width: 95px;
    background-color: rgb(145, 95, 4);

}

main {
    display: flex;
    flex-direction: column
}

main h2 {
    text-align: center;
    margin-top: 70px;

}


#competence {
    display: flex;
    justify-content: space-around;

}



.design-sneaker {
    width: 25%;
}

.design-sneaker a {
    color: #9c5b00;


}


.design-sneaker img {
    transition: transform 0.3s ease;
}

.design-sneaker img:hover {
    transform: scale(1.05) translateY(-5px);
}




#qualités-container {
    display: flex;
    justify-content: space-around
}

#qualités-container h2 {
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;

}

#icon-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icon img {
    transition: transform 0.3s ease;
}

.icon img:hover {
    transform: scale(1.2) rotate(360deg);
}


.avis-container {
    display: flex;
    flex-direction: column;
}


.avis-container img {
    height: 40px;
    border: 2px solid black;
    border-radius: 60px;


}


.avis-container img {
    transition: transform 0.3s ease;
}

.avis-container img:hover {
    transform: scale(1.2) rotate(5deg);
}


.top {
    display: flex;


}

.top h4 {
    display: flex;
    width: 100%;


}

.notation-left img {
    height: 10px;


}

.bottom {
    display: flex;
    gap: 16px;


}

#parcours-container {
    display: flex;



}


.parcours-container {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    width: 25%;
    border: 3px solid black;
    background-color: rgb(146 86 86 / 40%);

}

.parcours-container {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    padding: 20px;
    transition: 0.3s;
}

.parcours-container:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}


.parcours-text-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;


}